.sectionWrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;

    box-sizing: border-box;
  
    width: 100vw;
  
    padding-top: 20vh;
    padding-right: 5vw;
  
    background-color: var(--var-colour-bg-l2);
}

.contentAndLineWrapper {
    display: flex;
    flex-direction: row;
    gap: 75px;

    margin-left: 8vw;
}

.sectionContent {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 5vh;

    max-width: 83vw;

    padding-top: 20px;
    padding-bottom: 110px;

    text-align: start;
}

.line {
    width: 3px;

    border-left: 3px solid var(--var-colour-primary);

    margin-left: 4.5px;
}

.aboutImg {
    width: 100%;
    max-width: 450px;
    height: max-content;
}

@media only screen and (width < 992px), (orientation: portrait) {
    .sectionWrapper {
        flex-direction: column-reverse;
        align-items: center;
        gap: 8vh;

        padding-top: 12vh;
    }

    .contentAndLineWrapper {
        gap: 6vw;
    }

    .sectionContent {
        padding-top: 0;
        padding-right: 5vw;
        padding-bottom: 6vh;

        gap: 2vh;
    }

    .aboutImg {
        height: auto;
        width: 70vw;
    }
}