.sectionWrapper {
    display: flex;
    flex-direction: column;

    width: 100vw;
    
    box-sizing: border-box;

    background-color: var(--var-colour-bg-l2);

    overflow-x: hidden;
}

.contentAndLineWrapper {
  display: flex;
  flex-direction: row;
  gap: 75px;

  margin-left: 8vw;
}

.line {
  width: 3px;

  border-left: 3px solid var(--var-colour-primary);

  margin-left: 4.5px;
}

.sectionContent {
    flex-grow: 1;
  
    display: flex;
    flex-direction: column;
    gap: 4vh;
  
    max-width: 83vw;
  
    padding-top: 20px;
    padding-bottom: 110px;
  
    text-align: start;
  }

.eductionList {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.eduction {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 2vw;

    h2 {
        font-family: var(--font-text);
        font-size: 1.8rem;
        font-weight: 600;

        margin: 0;
    }
}

.year {
    font-family: var(--font-comment);
    font-size: 1.2rem;

    margin-top: 5px;
}

.dash {
    font-family: var(--font-comment);
    font-size: 1.2rem;

    margin-top: 5px;
}

@media only screen and (width < 992px), (orientation: portrait) {
    .contentAndLineWrapper {
        gap: 6vw;
    }

    .sectionContent {
        padding-top: 0;
        padding-bottom: 8vh;

        gap: 3vh;
    }

    .eduction {
        flex-direction: column;
        gap: 0vw;

        h2 {
            font-size: 1.3rem;
        }
    }

    .year {
        font-size: 1rem;
    
        margin: 0;
    }

    .dash {
        display: none;
    }
}