.skillSet {
    display: flex;
    flex-direction: column;
    
    h2 {
        font-family: var(--font-heading);
        font-size: 1.5rem;
        
        margin: 0;
    }

    p {
        font-family: var(--font-comment);
        font-size: .8rem;

        margin: 0;
    }

}

.header {
    margin-bottom: 10px;
}

.chipsLists {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media only screen and (width < 992px), (orientation: portrait) {
    .skillSet {
        gap: 0;
        h2 {
            font-size: 1.4rem;
        }
    }

    .chipsLists {
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }

    .header {
        margin-bottom: 0;
    }
}