.carouselWrapper {
  overflow: hidden;

  padding: 25px 20px 25px 20px;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  gap: 20px;
  
  animation: scroll 10s linear alternate infinite;
  animation-play-state: running;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-250px * 1));
  }
}