.header {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 5;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;

    width: 100vw;
}

/* desktop */
@media only screen and (width >= 992px) {

}

/* mobile & portrait tablet */
@media screen and (width < 992px), (orientation: portrait) {
    .header {
        align-items: start;

        margin-top: 2vh;
    }
}