.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;

    margin-right: 2vw;
}

.navLink {
    font-size: .8rem;
    font-family: var(--font-text);
    font-weight: 450;
    color: var(--var-colour-text-muted);
    text-decoration-line: none;

    background-color: transparent;

    align-content: center;
    
    height: 35px;
    padding: 0px 20px 0px 20px;
}

.navLink:hover {
    font-size: .79rem;
    font-family: var(--font-text);
    font-weight: 550;
    color: var(--var-colour-text-heading);

    background-color: transparent;

    cursor: pointer;
}

.contactBtn {
    font-size: .8rem;
    font-family: var(--font-text);
    font-weight: 600;
    color: var(--var-colour-bg-l2);
    text-decoration-line: none;

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: end;

    background-color: var(--var-colour-primary);

    align-content: center;

    height: 35px;
    padding: 0px 20px 0px 20px;
    border-radius: 50px;

    transition: box-shadow 0.2s ease-in-out;

    img {
        height: 15px;
        width: 15px;

        transition: .25s ease-in-out;
    }
}

.contactBtn:hover {
    font-size: .79rem;
    font-weight: 800;
    
    cursor: pointer;

    box-shadow: 3px 3px 40px 15px var(--var-colour-shadow-primary);

    img {
        transform: rotate(-20deg);
    }
}

/* desktop */
@media only screen and (width >= 992px) {
    .navbarToggle {
        display: none;
    }

    .navbar {
        background-color: var(--var-colour-glass-bg);
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        border: 1px solid var(--var-colour-border);
        box-shadow: 4px 4px 10px 0px var(--var-colour-shadow);
        
        height: fit-content;
        max-width: fit-content;
        padding: 2px 2px 2px 10px;
        border-radius: 50px;
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }
}

/* mobile & portrait tablet */
@media screen and (width < 992px), (orientation: portrait) {
    .row {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        align-items: end;
    
        margin-right: 3vw;
    }

    .toggleRow {
        display: flex;
        flex-direction: row;
        gap: 0px;
    }

    .navbarToggle {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--var-colour-glass-bg);
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        box-shadow: 4px 4px 10px 0px var(--var-colour-shadow);

        border: 1px solid var(--var-colour-border);
        border-radius: 15px;

        padding: 2px 2px 2px 2px;
        
        height: 35px;
        width: 35px;

        img {
            width: 15px;
            height: 15px;
        }
    }
    
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 10px;

        height: fit-content;
        max-width: fit-content;
        padding: 2px 2px 2px 10px;

        background-color: transparent;

        border: none;
    }
    
    .navLink {
        display: none;

        background-color: var(--var-colour-glass-bg);
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        box-shadow: 4px 4px 10px 0px var(--var-colour-shadow);

        border: 1px solid var(--var-colour-border);
        border-radius: 50px;
        
        font-size: .8rem;
        font-weight: 450;

        text-align: end;
    }

    .contactBtn {
        display: none;
    }

    .unfurled {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: end;

        position: relative;

        animation-name: slideIn;
        animation-timing-function: ease-in-out;
        animation-duration: 400ms;
    }

    .slideOut {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: end;

        position: relative;

        animation-name: slideOut;
        animation-timing-function: ease-in-out;

        /* To avoid a gitter happening: keep this duration slightly higher than the delay of the setTimeout function in handleNavbarToggleOnClick,
            otherwise the duration could complete a fraction of a second faster than the delay in the setTimout function */
        animation-duration: 250ms;
    }

    .unfurled:nth-child(1) {
        animation-duration: 100ms;
    }

    .unfurled:nth-child(2) {
        animation-duration: 200ms;
    }

    .unfurled:nth-child(3) {
        animation-duration: 300ms;
    }

    .unfurled:nth-child(4) {
        animation-duration: 400ms;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        left: 20vw;
    }
    5% {
        opacity: 0;
        left: 20vw;
    }
    100% {
        opacity: 1;
        left: 0vw;
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        left: 0vw;
    }
    5% {
        opacity: 1;
        left: 0vw;
    }
    100% {
        opacity: 0;
        left: 20vw;
    }
}