.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;

    margin-right: 30px;
}

.navbar {
    background-color: var(--var-colour-glass-bg);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid var(--var-colour-border);
    box-shadow: 4px 4px 10px 0px var(--var-colour-shadow);

    height: fit-content;
    max-width: fit-content;
    padding: 2px 2px 2px 10px;
    border-radius: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.navLink {
    font-size: .8rem;
    font-family: var(--font-text);
    font-weight: 450;
    color: var(--var-colour-text-muted);
    text-decoration-line: none;

    background-color: transparent;

    align-content: center;
    
    height: 35px;
    padding: 0px 20px 0px 20px;
}

.navLink:hover {
    font-size: .79rem;
    font-family: var(--font-text);
    font-weight: 550;
    color: var(--var-colour-text-heading);

    background-color: transparent;

    cursor: pointer;
}

.contactBtn {
    font-size: .8rem;
    font-family: var(--font-text);
    font-weight: 600;
    color: var(--var-colour-bg-l2);
    text-decoration-line: none;

    background-color: var(--var-colour-primary);

    align-content: center;

    height: 35px;
    padding: 0px 20px 0px 20px;
    margin-left: 10px;
    border-radius: 50px;
}

.contactBtn:hover {
    font-size: .79rem;
    font-weight: 800;
    
    cursor: pointer;
}