.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
}

.navbar {
    background-color: var(--var-colour-glass-bg);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid var(--var-colour-border);
    box-shadow: 4px 4px 10px 0px var(--var-colour-shadow);

    height: 40px;
    border-radius: 50px;
    max-width: fit-content;
    padding: 2px 2px 2px 2px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.navLink {
    font-size: .85rem;
    font-family: var(--font-text);
    font-weight: 450;
    color: var(--var-colour-text-muted);
    background-color: transparent;
    text-decoration-line: none;
    height: 40px;
    align-content: center;
    padding: 0px 20px 0px 20px;
}

.navLink:hover {
    font-size: .83rem;
    font-family: var(--font-text);
    font-weight: 550;
    color: var(--var-colour-text-heading);
    background-color: transparent;
}

.contactBtn {
    font-size: .85rem;
    font-family: var(--font-text);
    font-weight: 600;
    color: var(--var-colour-bg-l2);
    background-color: var(--var-colour-primary);
    text-decoration-line: none;
    height: 40px;
    align-content: center;
    border-radius: 50px;
    padding: 0px 20px 0px 20px;
    margin-left: 10px;
}

.contactBtn:hover {
    font-size: .83rem;
    font-weight: 800;
}