.main {
  margin: 0;
  text-align: start;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0px;
}

.topSectionWrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;

  width: 100vw;

  padding-top: 20vh;

  background-color: var(--var-colour-bg-l2);
}

.sectionWrapper {
  display: flex;
  flex-direction: column;

  width: 100vw;

  background-color: var(--var-colour-bg-l1);
}

.bottomSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 100vw;

  padding-bottom: 150px;

  background-color: var(--var-colour-bg-l2);
}

.aboutImg {
  width: 100%;
  max-width: 450px;
  height: max-content;
}

.contentAndLineWrapper {
  display: flex;
  flex-direction: row;
  gap: 75px;

  margin-left: 8vw;
}

.line {
  width: 3px;

  border-left: 3px solid var(--var-colour-primary);

  margin-left: 4.5px;
}

.sectionContent {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 5vh;

  max-width: 83vw;

  padding-top: 20px;
  padding-bottom: 110px;

  text-align: start;
}

.extraPadding {
    gap: 12vh;
}

.bottomSectionContent {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow: hidden;

  text-align: start;
}

.bottomHeader {
  padding-left: 8.2vw;
}

@media only screen and (width < 992px), (orientation: portrait) {
  .topSectionWrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 8vh;

    padding-top: 12vh;
  }

  .contentAndLineWrapper {
    gap: 6vw;
  }

  .sectionContent {
    padding-top: 0;
    padding-right: 5vw;
    padding-bottom: 6vh;

    gap: 2vh;
  }

  .extraPadding {
      gap: 10vh;
  }

  .aboutImg {
    height: auto;
    width: 70vw;
  }

  .skillsSection {
    background-image: linear-gradient(to bottom, var(--var-colour-bg-l1), var(--var-colour-bg-l1) 50%, var(--var-colour-info));
  }
}