.main {
    margin: 0;
    width: 100%;
    height: 100vh;
    text-align: start;
  
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 70px;
}

.topSectionWrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;

  width: 100vw;

  padding-top: 200px;

  background-color: var(--var-colour-bg-l2);
}

.aboutImg {
  width: 100%;
  max-width: 500px;
  height: max-content;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 30px;

  max-width: 45vw;
  border-left: 3px solid var(--var-colour-primary);

  padding-top: 20px;
  padding-left: 80px;
  padding-bottom: 150px;
  margin-left: 124.5px;;

  text-align: start;
}

