.main {
  margin: 0;

  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 0;

  background-color: var(--var-colour-bg-l2);
}

.bgImage {
  position: fixed;
  left: -5vw;
  top: 12vh;
  z-index: 1;

  height: auto;
}

.wrapper {
  z-index: 2;
}

/* desktop */
@media only screen and (width >= 992px) {
  .wrapper {
    display: grid;
    grid: 2fr 1fr 2fr / 1fr 1fr 1fr;

    width: 85vw;

    padding-top: 20vh;
  }

  .textBlock {
    grid-area: 1 / 1 / 2 / 2;
  }

  .dialogBox {
    grid-area: 3 / 1 / 4 / 2;
  }

  .contactForm {
    grid-area: 1 / 3 / 4 / 4;
  }

  .bgImage {
    width: 55vw;
  }

  .textBlock {
    width: 30vw;

    h1 {
      font-size: 2rem;
      margin: 0px
    }

    p {
      margin-top: 0px;
      margin-bottom: 25px
    }
  }
}

/* mobile */
@media screen and (width < 992px), (orientation: portrait) {
  .wrapper {
    display: grid;
    grid: 1fr 4fr 2fr / 1fr;
    row-gap: 8vh;

    width: 85vw;

    padding-top: 20vh;
  }

  .textBlock {
    grid-area: 1 / 1 / 2 / 2;
  }

  .dialogBox {
    grid-area: 3 / 1 / 4 / 2;
  }

  .contactForm {
    grid-area: 2 / 1 / 3 / 2;
  }

  .bgImage {
    width: 85vw;
  }

  .textBlock {
    width: 100%;

    h1 {
      font-size: 1.5rem;
      margin: 0px
    }

    p {
      font-size: .75rem;
      margin-top: 0px;
      margin-bottom: 25px
    }
  }
}