.heading {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: var(--font-heading);
  color: var(--colour-light-text-heading);
}

.name {
  font-size: 2.7rem;
  font-weight: 500;
  font-family: var(--font-fancy);
  color: var(--colour-primary-dark);
}

.comment {
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--font-comment);
  color: var(--colour-light-text-muted);
}

.main {
  margin: auto;
  text-align: center;
}