.name {
  font-size: 2.7rem;
  font-weight: 500;
  font-family: var(--font-fancy);
  color: var(--var-colour-primary);
}

.designTag {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: var(--font-heading);
  background: linear-gradient(to right, var(--colour-info), var(--colour-primary));
  --webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.main {
  margin: auto;
  text-align: center;
}