.main {
  margin: 0;

  width: 100%;

  text-align: start;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.pageHeader {
  padding: 150px 0px 100px 100px;

  width: 100vw;

  box-sizing: border-box;

  background-color: var(--var-colour-bg-l2);

  h1 {
    margin: 0px;  
  }
}

/* mobile & portrait tablet */
@media only screen and (width < 992px), (orientation: portrait) {
  .main {
    gap: 3vh;

    padding-bottom: 10vh;
  }

  .pageHeader {
    padding: 10vh 5vw 5vh 5vw;

    h1 {
      font-size: 8vw;
    }

    p {
      font-size: 3vw;
    }
  }
}