.chip {
    padding: 2.5px 10px 2px 10px;

    background-color: var(--var-colour-bg-l2);

    border: 1px solid var(--var-colour-border);
    border-radius: 8px;

    color: var(--var-colour-text-muted);
    font-family: var(--font-text);
    font-weight: 600;
    font-size: .8rem;
}