.chipList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px 12px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    max-width: 18vw;
}

@media only screen and (width < 992px), (orientation: portrait) {
    .wrapper {
        max-width: none;
    }
}