.btnBox {
    font-family: var(--font-text);
    font-size: .85rem;
    text-decoration-line: none;

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    height: 45px;
    width: fit-content;
    padding: 0px 20px 0px 20px;
    border-radius: 12px;
}

.btnBox:hover {
    cursor: pointer;
}

.btnBox.standard {
    color: var(--var-colour-bg-l2);

    font-weight: 800;

    background-color: var(--var-colour-text-heading);

    box-shadow: 3px 3px 12px 2px var(--var-colour-shadow);
    transition: box-shadow 0.2s ease-in-out;

    border: none;
}

.btnBox.standard:hover {
    box-shadow: 3px 3px 40px 15px var(--var-colour-shadow);

    .image {
        transform: rotate(-20deg);
    }
}

.btnBox.hollow {
    color: var(--var-colour-info);
    
    font-weight: 700;

    background-color: transparent;

    border: 2px solid var(--var-colour-info);
}

.btnBox.hollow:hover {
    background-color: var(--colour-info-light);

    border: 2px solid var(--var-colour-info);
}

.rounded {
    border-radius: 50px;
    border: none;
}

.green {
    background-color: var(--var-colour-primary);
}

.green:hover {
    box-shadow: 3px 3px 40px 15px var(--var-colour-shadow-primary);
}

.image {
    height: 18px;
    width: 18px;
    transition: .25s ease-in-out;
}

/* mobile & portrait tablet */
@media only screen and (width < 992px), (orientation: portrait) {
    .btnBox {
        height: 40px;

        font-size: 3vw;

        gap: 3vw;

        padding: 0px 16px 0px 16px;
    }

    .image {
        height: 14px;
        width: 14px;
        transition: .25s ease-in-out;
    }
}