.textEffect {
  font-size: 1.7rem;
  font-family: var(--font-comment);
  color: var(--var-colour-text-heading);

  padding: 5px 20px 5px 20px;
  width: fit-content;

  border: 1px solid var(--var-colour-border);
  border-radius: 20px;

  background-color: var(--var-colour-glass-bg);
  box-shadow: 4px 4px 10px 0px var(--var-colour-shadow);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}