.wrapper {

}

.topLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    border-bottom: 1px solid var(--var-colour-text-muted);

    padding-bottom: 10px;
    margin-bottom: 10px;
}

.itemCount {
    margin: 0;
    
    font-family: var(--font-text);
    font-weight: 550;

    line-height: 1;
}

.buttonRow {
    display: flex;
    flex-direction: row;
}

.button {
    height: 25px;

    background-color: transparent;
    border: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;

    img {
        height: 20px;
        width: auto;
        transition: height 0.1s ease-in-out;
    }
}

.button:hover {
    cursor: pointer;

    img {
        height: 25px;
        width: auto;
    }
}

.searchBtn {

}

.filterBtn {
    
}

.sortBtn {
    
}

.itemList {

}