.wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;

    border-radius: 12px;

    padding: 10px;
    transition: padding 0.1s ease-in-out;

    p {
        margin: 0;
    }
}

.odd {
    background-color: var(--var-colour-bg-l1);
}

.even {
    background-color: var(--var-colour-bg-l2);
}

.tagAndName {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;

    flex-grow: 1;
}

.typeTag {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0px 10px 0px 10px;

    border-radius: 12px;

    font-family: var(--font-text);
    font-size: .85rem;
    font-weight: 600;
    color: var(--var-colour-bg-l2);
}

.course {
    background-color: var(--var-colour-primary);
}

.project {
    background-color: var(--var-colour-info);
}

.name {
    flex-grow: 1;

    font-family: var(--font-text);
    font-weight: 550;
}

.techListWrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.technologiesList {
    display: inline-flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px 0px;

    padding: 0;
    margin: 0;
}

.technologyTag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    padding-left: 15px;

    font-family: var(--font-text);
    font-weight: 550;
    font-size: .9rem;

    img {
        height: 20px;
        width: auto;
    }

    p {
        margin: 0;
    }
}

/* === CSS for detail view === */
.overlayOpen {
    display: block;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;

    background-color: rgba(0, 0, 0, .4);
}

.overlayClosed {
    display: none;
}

.detailViewOverlayOpen {
    display: flex;
    flex-direction: column;

    position: fixed;
    z-index: 4;

    width: 55vw;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-color: var(--var-colour-border) rgba(0, 0, 0, 0);
    scrollbar-width: thin;

    border: 1px solid var(--var-colour-border);
    background-color: var(--var-colour-glass-bg-logo);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);

    padding: 25px;
    padding-top: 15px;
}

.detailViewOverlayClosed {
    display: none;
}

.sectionHeader {
    font-family: var(--font-text);
    font-weight: 850;
    font-size: 1.5rem;

    margin: 0;
}

.dateAndCloseSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.completedOn {
    font-family: var(--font-text);
    font-weight: 1000;
}

.completedDate {
    font-weight: 500;
}

.closeBtn {
    height: 30px;
    width: 30px;

    border: none;
    background-color: transparent;

    img {
        height: 15px;
        transition: height 0.2s ease-in-out;
        width: auto;
    }
}

.mainContentSection {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.heroImgSection {
    margin-top: 10px;
    margin-bottom: 25px;
}

.headerImage {
    border-radius: 15px;

    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.titleSection {
    display: flex;
    flex-direction: column;
    align-items: start;

    h1 {
        font-family: var(--font-heading);
        font-weight: 750;
        font-size: 2rem;
        line-height: 1.1;

        margin: 0;
    }

    p {
        font-family: var(--font-comment);

        margin-top: 0;
        margin-bottom: 10px;
    }
}

.descriptionSection {
    display: flex;
    flex-direction: column;
    align-items: start;

    p {
        font-family: var(--font-text);
        font-weight: 450;

        margin: 0;
    }
}

.technologiesSection {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.techList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    padding-left: 0;

    margin: 0;
}

.technologyTagDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    padding: 8px 10px 8px 10px;

    font-family: var(--font-text);
    font-weight: 550;
    font-size: .9rem;

    border: 1px solid var(--var-colour-text-muted);
    border-radius: 10px;

    img {
        height: 20px;
        width: auto;
    }

    p {
        margin: 0;
    }
}

.linksSection {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.buttonRow {
    display: flex;
    flex-direction: row;
}

@media only screen and (width < 992px) {
    .wrapper {
        flex-direction: column;
        gap: 12px;

        border-radius: 0;

        border-bottom: 1px solid var(--var-colour-border);
    }

    .tagAndName {
        gap: 8px;
    }

    .typeTag {
        padding: 1px 8px 1px 8px;

        border-radius: 12px;

        font-size: .75rem;
        font-weight: 700;
    }

    .name {
        font-weight: 650;
        font-size: .92rem;
    }

    .techListWrapper {
        justify-content: start;
    }

    .technologyTag {
        padding-left: 5px;

        font-weight: 450;
        font-size: .8rem;

        img {
            height: 15px;
            width: auto;
        }
    }

    .technologiesList {
        justify-content: start;
        gap: 5px;
    }


    /* === CSS for detail view === */
    .detailViewOverlayOpen {
        bottom: 0%;
        left: 0%;

        box-sizing: border-box;

        width: 100vw;
        max-height: 70vh;

        border: none;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .completedOn {
        font-size: .85rem;
    }
    
    .mainContentSection {
        gap: 3vh;
    }

    .heroImgSection {
        margin-bottom: 15px;
    }

    .headerImage {
        height: 20vh;
    }

    .titleSection {
        h1 {
            font-size: 1.4rem;
        }

        p {
            font-size: .75rem;
            margin: 0;
        }
    }

    .sectionHeader {
        font-size: 1.2rem;
    }

    .descriptionSection {
        p {
            font-size: .9rem;

            margin: 0;
        }
    }
    
    .technologyTagDetail {
        gap: 5px;

        padding: 6px 8px 6px 10px;

        font-size: .8rem;

        img {
            height: 18px;
        }

        p {
            margin: 0;
            line-height: 1;
        }
    }
}

@media only screen and (width >= 992px) {
    .detailViewOverlayOpen {
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        border-radius: 20px;
    }

    .wrapper:hover {
        background-color: var(--var-colour-bg-l3);

        cursor: pointer;

        padding: 12px;
    }

    .closeBtn:hover {
        cursor: pointer;
        
        img {
            height: 18px;
            width: auto;
        }
    }
}