:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* colour variable (use these for things that will change between light (default) and dark mode) */
  --var-colour-bg-l1: #FFFFFF;
  --var-colour-bg-l2: #FAF9F5;
  --var-colour-bg-l3: #EEEBDD;
  --var-colour-border: #DED8BA;
  --var-colour-text-heading: #333333;
  --var-colour-text-muted: #4D4D4D;
  --var-colour-glass-bg-logo: #faf9f5bf;
  --var-colour-glass-bg: #ffffff40;
  --var-colour-shadow: #00000026;

  --var-colour-primary: #2E6B6B;
  --var-colour-danger: #AD1F1F;
  --var-colour-warning: #EC9213;
  --var-colour-success: #1F7A3D;
  --var-colour-info: #4D4DB2;

  /*Colour constants (use these if they should not change between light and dark mode)*/
  --colour-dark-bg-l1: #000000;
  --colour-dark-bg-l2: #1A1A1A;
  --colour-dark-bg-l3: #333333;
  --colour-dark-border: #666666;
  --colour-dark-text-heading: #F2F2F2;
  --colour-dark-text-muted: #D9D9D9;

  --colour-light-bg-l1: #FFFFFF;
  --colour-light-bg-l2: #FAF9F5;
  --colour-light-bg-l3: #EEEBDD;
  --colour-light-border: #DED8BA;
  --colour-light-text-heading: #333333;
  --colour-light-text-muted: #4D4D4D;

  --colour-primary-light: #E2F3F3;
  --colour-primary: #39C6C6;
  --colour-primary-dark: #2E6B6B;

  --colour-danger-light: #FBE9E9;
  --colour-danger: #D14747;
  --colour-danger-dark: #AD1F1F;

  --colour-warning-light: #FFF5E7;
  --colour-warning: #FFAA33;
  --colour-warning-dark: #EC9213;

  --colour-success-light: #EDF7F1;
  --colour-success: #40BF6A;
  --colour-success-dark: #1F7A3D;

  --colour-info-light: #EEEEFC;
  --colour-info: #6666CC;
  --colour-info-dark: #4D4DB2;

  /*Font constants*/
  --font-heading: "Bricolage_Grotesque";
  --font-text: "Quicksand";
  --font-comment: "IBM_Plex_Mono_Regular";
  --font-fancy: "Pacifico";

  color-scheme: light dark;
  color: var(--var-colour-text-heading);
  background-color: var(--var-colour-bg-l1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Standard classes */
.heading {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: var(--font-heading);
  color: var(--var-colour-text-heading);
}

.comment {
  font-size: .95rem;
  font-family: var(--font-comment);
  color: var(--var-colour-text-muted);
}

.text {
  font-size: 1.2rem;
  font-weight: 450;
  font-family: var(--font-text);
  color: var(--var-colour-text-muted);
}

body {
  margin: auto;
  place-items: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: 'Quicksand';
  src: url("assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: "IBM_Plex_Mono_Regular";
  src: url("assets/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Pacifico";
  src: url("assets/fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bricolage_Grotesque";
  src: url("assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz-wdth-wght.ttf") format("truetype");
}